html {
  font-size: 63.5%;
}

*,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

img {
  display: block;
  width: 100%;
}
