.card {
  width: 100%;
  height: 100%;
  position: relative;
  border: 1px solid rgba(4, 4, 4, 0.2);
  padding: 0.5rem;
  background-color: $silverLight;
  p {
    @include text($bodyText, 1.8rem);
  }
  &__hoveredDisplayLayout {
    background-color: rgba($color: white, $alpha: 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &__isDisplayed {
    visibility: hidden;
  }
  &__infoContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__info {
    width: 100%;
    height: 50%;
    padding: 0 0.5rem;
    background-color: rgba($color: white, $alpha: 0.8);
    display: flex;
    align-items: center;
    background-color: $darkTransparent;
  }
  &__title {
    width: 100%;
    text-align: center;
    @include text($bodyText, 1.8rem);
    color: $light;
  }
}
