.card {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  position: relative;
  p {
    @include text($bodyText, 1.8rem);
  }
  &__hover {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
  &__infoContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__title {
    @include text($titles, 2rem);
  }
}
