.footer {
  background-color: $dark;
  &__wrapper {
    max-width: 1100px;
    width: 90%;
    margin: 0 auto;
  }
  p,
  a {
    @include text($bodyText, 1.6rem);
    color: $light;
  }
  &__social {
    display: flex;
    justify-content: center;
    i {
      font-size: 2.5rem;
      padding: 1.5rem;
    }
  }
  &__ownership {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 6rem;
  }
}
