.gallery {
  background-color: $secondary;
  padding: 2rem 0;
  &__content {
    // background-color: transparent;
    padding: 1rem;
    border-radius: 1.5rem;
  }
  &__title {
    @include text($titles, 2.4rem);
    margin: 2rem 0;
  }
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}

@media (min-width: 768px) {
  .gallery {
    &__wrapper {
      max-width: 1100px;
      width: 90%;
      margin: 0 auto;
    }
    &__grid {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
