.gallery {
  background-image: url(../assets/lighttray.jpg);
  // background-color: $light;

  padding: 2rem 0;
  &__wrapper {
    max-width: 1100px;
    width: 90%;
    margin: 0 auto;
  }
  &__content {
    // background-image: url(../assets/lighttray.jpg);
    // background-color: $tertiary;
    background-color: transparent;
    // background-color: $light;
    padding: 1rem;
    border-radius: 1.5rem;
  }
  &__title {
    @include text($titles, 2.4rem);
    margin: 2rem 0;
  }
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}
