.header {
  height: 29.5vh;
  // this is for the hidden scroll
  position: relative;
  z-index: 40;
  &__background {
    background-image: url("../assets/gingham.png");
    background-position: left;
    background-size: contain;
    background-color: $light;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__logoContainer {
    max-width: 65rem;
  }
}
