.navbar__blanket,
.navbar__container,
.navbar__nav {
  display: flex;
}

.navbar {
  background-color: $primary;
  font-size: 2rem;
  font-family: $bodyText;
  align-items: center;
  position: sticky;
  top: 0;
  transform-style: preserve-3d;
  z-index: 30;
  &__blanket {
    width: 100%;
    background-color: $primary;

    height: 10vh;
    align-items: center;
  }
  &__wrapper {
    max-width: 1100px;
    width: 90%;
    margin: 0 auto;
  }
  &__vlInfo {
    width: 14rem;
  }
  &__line {
    width: 3rem;
    height: 0.3rem;
    background-color: $dark;
    margin: 0.5rem 0;
    border-radius: 1.5rem;
  }
  &__container {
    justify-content: space-between;
  }
  button {
    border: none;
    background-color: transparent;
  }
  &__burger {
    padding: 0.8rem;
    &:hover {
      cursor: pointer;
    }
  }
  &__nav,
  &__nav li a,
  &__container {
    align-items: center;
  }
  &__nav {
    background-color: $light;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    flex-direction: column;
    transform: translateZ(-10px);
    z-index: -1;
  }
  &__navHidden {
    transform: translateY(-100%);
    transition: ease-in 0.7s;
  }
  &__navVisible {
    transform: translateY(100%);
    transition: ease-in 0.7s;
  }
  &__nav li {
    width: 100%;
  }
  &__nav li a {
    display: inline-flex;
    justify-content: center;
    height: 4rem;
    width: 100%;
    color: $dark;
  }
  &__nav li a:hover {
    cursor: pointer;
  }
}

@media (min-width: 768px) {
  .navbar {
    &__button {
      display: none;
    }
    &__blanket {
      background-color: transparent;
    }
    &__nav {
      position: static;
      background-color: transparent;
      flex-direction: row;
      width: 70%;
      transform: none;
    }
  }
}
