.social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // border: 1px solid white;
  min-width: 30%;
  max-width: 10rem;
  align-self: flex-end;
  i {
    font-size: 2rem;
    padding: 2rem;
  }
}

@media (min-width: 768px) {
  .social {
    // flex-direction: row;
    width: 100%;
  }
}
