$primary: #ff3000;
$secondary: #fedd00;
$tertiary: #f49627;
$quarternary: #51ead5;
$quiternary: #196f0c;
$reqBackgroundColor: #6fcb9f;
$dark: #27262c;
$light: #fdfffc;

$logo: "Fontdiner Swanky", cursive;
$titles: "Cherry Cream Soda", cursive;
$bodyText: "Prompt", sans-serif;

@mixin text($font, $size) {
  font-family: $font;
  font-size: $size;
}
