// $primary: #ff3000;
// $secondary: #fedd00;
// $tertiary: #f49627;
// $quarternary: #51ead5;
// $quinternary: #196f0c;

$primary: #ed2025;
$secondary: #baab98;
$tertiary: #c5cac6;
$quarternary: rgb(206, 214, 212);
$quinternary: #fdfffc;
$dark: #0c0c0d;
$darkTransparent: rgba(12, 12, 13, 0.8);

// $light: #fdfffc;
// $silver: #c5cac6;
// $newSilver: #9e9180;
// $newSilver: #baab98;

$logo: "Fontdiner Swanky", cursive;
$titles: "Cherry Cream Soda", cursive;
// $bodyText: "Prompt", sans-serif;
$bodyText: "Dosis", sans-serif;

@mixin text($font, $size) {
  font-family: $font;
  font-size: $size;
}
