// $primary: #ff3000;
$primary: #ed2025;
$secondary: #fedd00;
$tertiary: #f49627;
$quarternary: #51ead5;
$quinternary: #196f0c;
$reqBackgroundColor: #6fcb9f;
// $dark: #27262c;
$dark: #0c0c0d;
$darkTransparent: rgba(12, 12, 13, 0.8);

$light: #fdfffc;
$silver: #c5cac6;
// $newSilver: #9e9180;
$newSilver: #baab98;

$silverLight: rgb(206, 214, 212);

$logo: "Fontdiner Swanky", cursive;
$titles: "Cherry Cream Soda", cursive;
// $bodyText: "Prompt", sans-serif;
$bodyText: "Dosis", sans-serif;

@mixin text($font, $size) {
  font-family: $font;
  font-size: $size;
}
